<!--
  Generated template for the TeamdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TeamDetails</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  
  <h3 font-weight: bold>  Mentor details are: </h3>
   <div *ngFor="let head of mentors; let i = index"  no-lines>
 <ul>
    <li>{{fields[i]}} : {{mentors[i]}}  </li>
 </ul>
  </div>        
    
  <br />

     
<h3 font-weight: bold>  Team details are: </h3>
     <ion-content  class="table">
       <ion-scroll scrollX="true" white-space: nowrap style="height: 700px;" >
  <ion-scroll scrollY="true" white-space: nowrap style="height: 900px;" >
  <table align="center">
      <tr>
        <th> NAME</th>
    <th>Email Id</th>
    <th>Contact No.</th>
  
  </tr>

 
    <tr *ngFor="let head of userLname; let i = index" no-lines>
     
     <td> {{userFname[i]}} {{userLname[i]}}  </td>

    <td>{{userEmail[i]}} </td>
    <td>{{userNumber[i]}} </td>
    
  </tr>
  
  </table>
</ion-scroll> 
 </ion-scroll> 
 </ion-content>
  
</ion-content>
