<!--
  Generated template for the TeamdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TeamDetails</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 font-weight: bold>  Mentor details are: </h3>
   <div *ngFor="let head of mentors; let i = index" no-lines>
 <ul>
    <li> {{mentors[i]}}  </li>
 </ul>
  </div>        
    
  <br />

 <!-- <h3 font-weight: bold>  Team details are: </h3>
   <div *ngFor="let mem of members; let j = index" no-lines>
 <ul>
    <li> {{members[j]}}  </li>
 </ul>
  </div> 
-->
  <h3 font-weight: bold>  Team details are: </h3>
   <div *ngFor="let mem of userFname; let j = index" no-lines>
 <ul>
    <li> {{userFname[j]}}  </li>
 </ul>
  </div> 

  <h3 font-weight: bold>  Team details are: </h3>
   <div *ngFor="let mem of userLname; let k = index" no-lines>
 <ul>
    <li> {{userLname[j]}}  </li>
 </ul>
  </div> 

  <h3 font-weight: bold>  Team details are: </h3>
   <div *ngFor="let mem of userNumber; let j = index" no-lines>
 <ul>
    <li> {{userNumber[j]}}  </li>
 </ul>
  </div>

  <h3 font-weight: bold>  Team details are: </h3>
   <div *ngFor="let mem of userEmail; let j = index" no-lines>
 <ul>
    <li> {{userEmail[j]}}  </li>
 </ul>
  </div>
  
   
</ion-content>
