
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Delegatekit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div *ngFor="let head of headarr; let i = index" no-lines>
 
    <h3> {{ headarr[i] }} </h3> 
    <h5> {{ contarr[i] }} </h5>
    <br />
  </div>

  <h3> Relevant Links: </h3>
   <ul *ngFor="let head2 of headarr2; let j = index" no-lines>
 
     <li>
     <a href="{{linkarr[j]}}"> {{ headarr[j] }}  </a>  
  </li>
  </ul>
  

 

</ion-content>
