page-schedule {
.table{
    font-size: 15px;

    table{
        width: 80%;
    }

    table,th,td{
    border: 1px solid black;
    }
     
    th,td{
        padding: 10px;
        text-align: center;
    }

    th{
        background-color: #207d8e ;
        color: white;
    }

    tr:nth-child(even){
        background-color: white;
    }

    tr:nth-child(odd){
        background-color: #1892A9;
    }
}
}
